@using EduHome.Core.Entities;
@using EduHomeUI.ViewModels;
@model HomeVM
 <!-- Background Area Start -->
<section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        @foreach (var homeSlider in Model.homeSliders)
        {
            <div class="single-slide item" style="background-image: url(@homeSlider.ImagePath)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-offset-left-5">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">
                                        <h3>EDUCATION MAKES </h3>
                                        <h2>PROPER HUMANITY </h2>
                                        <p>@homeSlider.Description </p>
                                        <a class="default-btn" href="about.html">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        }
    </div>
</section>
<!-- Background Area End -->