@using EduHome.Core.Entities;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Events

<form asp-controller="Events" asp-action="Delete" method="post">
    <div class="row mb-4">
        <label asp-for="Title" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Title" class="form-control" disabled />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-4">
        <label asp-for="Date" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Date" type="date" class="form-control" disabled />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-4">
        <label asp-for="StartTime" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="StartTime" type="time" class="form-control" disabled />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-4">
        <label asp-for="EndTime" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="EndTime" type="time" class="form-control" disabled />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-4">
        <label asp-for="Location" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Location" class="form-control" disabled />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col-sm-9">
            <div>
                <button type="submit" class="btn btn-primary w-md">Submit</button>
            </div>
        </div>
    </div>
</form>
