
<div class="col-xl-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Course Create Form</h4>

            <form>
                <div class="row mb-4">
                    <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Course Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="horizontal-firstname-input">
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">Course Desc</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="horizontal-email-input" >
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="horizontal-password-input" class="col-sm-3 col-form-label">Image Path</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="horizontal-password-input">
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-sm-9">
                        <div>
                            <button type="submit" class="btn btn-primary w-md">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end card body -->
    </div>
    <!-- end card -->
</div>